* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
    background-image: url('./Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    background-color: #fff;
    z-index: 1000;
  }
  
  
  .header_links {
    display: flex;
    gap: 50px;
  }
  
  .header_link {
    padding-top: 13px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }
  

  .content-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    box-sizing: border-box;
  }


  h1 {  
    padding-bottom: 6%;
    font-size: 3.2em;
    line-height: 1.1;
  }

  h3{
    padding-bottom: 2%;
    font-style: italic;
    font-size: large;
  }

  .main-header {
    font-size: 100px;
    font-weight: bold;
    color: #333;
    margin-top: 15%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    
  }

  .input-field {
    font-size: 18px;
    padding: 15px 25px;
    border: 2px solid #333;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }

  input{    /* duplicate, but works on add product*/
    font-size: 18px;
    padding: 15px 25px;
    border: 2px solid #333;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;

  }

  .note {
    font-size: 0.9em;
    color: grey;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 10px;
  }

.input-checkbox {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
}


  .generic-button {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 25px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }

  button {          /* only used in Register.tsx at the moment */
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #333;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:hover,
  .generic-button:hover {
    border-color: #333;
    background-color: #2f647b;
  }
  
  button:focus,
  button:focus-visible,
  .generic-button:focus,
  .generic-button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

