.toggle_container button {
  color: grey;
  background: none;
  cursor: pointer;
  font-size: 1.2em;

}

.toggle_container button.active {
  color: #484848;
  font-weight: bold;
  border-color: #333;
}
